<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>图像操作功能</h1>
<form action="/f1_b/" method="post"><button >B通道</button></form>
<form action="/f1_g/" method="post"><button >G通道</button></form>
<form action="/f1_r/" method="post"><button >R通道</button></form>
<form action="/f2_h/" method="post"><button >H通道</button></form>
<form action="/f2_s/" method="post"><button >S通道</button></form>
<form action="/f2_v/" method="post"><button >V通道</button></form>
<form action="/f3/" method="post"><button >旋转图片</button></form>
<form action="/f4_1/" method="post"><button >水平翻转</button></form>
<form action="/f4_2/" method="post"><button >垂直翻转</button></form>
<form action="/f4_3/" method="post"><button >对角翻转</button></form>
<form action="/f5/" method="post"><button >仿射变换</button></form>
<form action="/f6/" method="post"><button >灰度直方图</button></form>
<form action="/f7/" method="post"><button >彩色直方图</button></form>
<form action="/f8/" method="post"><button >直方图</button></form>
<form action="/f9/" method="post"><button >分段线性变换</button></form>
<form action="/f10/" method="post"><button >直线线条检测</button></form>
<form action="/f11/" method="post"><button >曲线线条检测</button></form>
<form action="/f12/" method="post"><button >边缘检测</button></form>
<form action="/f13_op/" method="post"><button >开运算</button></form>
<form action="/f13_cl/" method="post"><button >闭运算</button></form>
<form action="/f14/" method="post"><button >添加噪声</button></form>
<form action="/f15/" method="post"><button >去除噪声（滤波器）</button></form>
<form action="/f16/" method="post"><button >图像风格迁移</button></form>
</body>

</html>